#container{
    margin-top:5%;margin-left: 40%;
    display: block;
    width:100px;
    height: 200px;
    border: 1px solid black;
    background:linear-gradient(to top, #373737, #212121);
    position: relative;
}

.lights{
    border-radius: 50%;
    margin-top: 5px;margin-left:20%;
    width: 60px;
    height: 60px;
    background-color: aliceblue;
}
