* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
}

fieldset {
    padding: 5px 10px;
}

.content {
    width: 100%;
    padding: 10px 0;
    border: 1px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}