* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
}

#container{
    display: block;
    width: 300px;
    height: 300px;
}

.square{
    width: 30px;
    height: 30px;
}

fieldset {
    padding: 5px 10px;
}

.buttons {
    display: flex;
    align-items: center;
}

#registro{
    margin-top: 20px;
    display: flex;
    block-size: 10px;
    width: 300px;
    height: 100px;
}